<div class="px-4 py-5  text-center">
    <img class="d-block mx-auto mb-4" src="assets/logo.png" alt="" style="height: 100px; width: auto;">
    <h1 class="display-5 fw-bold"> {{ appName }} </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            <b> {{appName}} </b> is an Angular based web applicaion whcich will help you to create todos,
            view todos & manage your tasks. It's free to use. Go ahead and create accout and try it today!
            This product developed by 
            <a mat-button color="primary" href="https://abidhasan.web.app/" target="_blank">ABID HASAN <mat-icon>open_in_new</mat-icon> </a>
        </p>
        <div *ngIf="isLoggedIn == false">
            <a routerLink="/auth/login" mat-raised-button color="primary" style="margin-right: 10px;">Login</a>
            <a routerLink="/auth/register" mat-raised-button color="primary">Regiser Account</a>
        </div>
        <div *ngIf="isLoggedIn == true">
            <a routerLink="/auth/register" mat-raised-button color="primary">My Todos <mat-icon>arrow_right_alt</mat-icon> </a>
        </div>
    </div>
</div>