.login{
    margin-top: 200px;
}


.register-link {
    text-decoration: none;
    color: #56A689;
    font-size: large;
}

.header-image {
    background-image: url('../../../../../assets/logo.png');
    background-size: cover;
  }