<div>
    <h3>About</h3>
    <p>This is the <a href="https://github.com/abidtkg/todoApp/" target="_blank"> TodoList app </a> <b> v2.0.5</b>  It is part of a Angular crash course & now I am developing full stack application</p>
    <p> <span style="font-size: 12px;"> TOOLS & TECHNOLOGY USED </span> <br>
        * HTML <br>
        * CSS <br>
        * SCSS <br>
        * JavaScript <br>
        * TypeScript <br>
        * NodeJS <br>
        * Angular <br>
        * Express <br>
        * RESTful API <br>
        * MongoDB <br>
        * Git & GitHub <br>
        * Heroku <br>
        * Firebase
    </p>
    <p> <span style="font-size: 12px;"> 13 April 2020 </span> <br>
        * Updated the UI Design <br>
        * Integrated with server
    </p>
</div>