<app-nav>
    <div class="container mt-4">
            <div class="d-flex justify-content-center">
                <mat-card class="example-card">
                    <div class="text-center">
                        <img class="img-thumbnail" style="height: 100px; width: auto;" src="./assets/logo.png" alt="">
                        <h2> {{ appName }} </h2>
                    </div>
                    <mat-card-subtitle>11 September 2022  <b>(3.0.0 pre)</b></mat-card-subtitle>
                    <mat-card-content>
                        <p>* Updated to Angular 14.x</p>
                        <p>* Added Material UI</p>
                        <p>* Marged with JS Engine</p>
                        <p>* Backend moved to firebase functions</p>
                        <p>* Complete UI update</p>
                    </mat-card-content>
                    
                    <mat-divider inset class="mb-2 mt-2"></mat-divider>
                    <mat-card-subtitle>04 August 2020</mat-card-subtitle>
                    <mat-card-content>
                        <p>This is the TodoList app v2.0.5 It is part of a Angular crash course & now I am developing full stack application</p>
                        <p>* HTML</p>
                        <p>* CSS</p>
                        <p>* SCSS</p>
                        <p>* JavaScript</p>
                        <p>* TypeScript</p>
                        <p>* NodeJS</p>
                        <p>* NodeJS</p>
                        <p>* Angular</p>
                        <p>* Express</p>
                        <p>* RESTful API</p>
                        <p>* MongoDB</p>
                        <p>* Git & GitHub</p>
                        <p>* Heroku</p>
                        <p>* Firebase</p>
                    </mat-card-content>

                    <mat-divider inset class="mb-2 mt-2"></mat-divider>

                    <mat-card-subtitle>13 April 2020</mat-card-subtitle>
                    <mat-card-content>
                        <p>* Updated the UI Design</p>
                        <p>* Integrated with server</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

</app-nav>