<mat-card class="example-card center">
    <mat-card-content>
        <h3>Login Service</h3>
        <div class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input [(ngModel)]="inEmail" type="email" matInput placeholder="Ex. pat@example.com">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input [(ngModel)]="inPassword" type="password" matInput >
            </mat-form-field>
        </div>
        <mat-progress-bar *ngIf="showProcess == true" mode="query"></mat-progress-bar>
        <button (click)="doLogin()" mat-raised-button color="primary" style="margin-top: 5px">Login </button>
        
    </mat-card-content>

    <mat-card-actions>
    </mat-card-actions>
</mat-card>