@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background: #E8EAEF; }

.main-container .todo-body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: auto;
  padding-bottom: 15px;
  width: 387px;
  background: #FFFFFF; }
  .main-container .todo-body .todo-head {
    height: 50px;
    width: 387px;
    background-color: #AF7EEB;
    display: table-cell;
    vertical-align: middle; }
    .main-container .todo-body .todo-head .head-title {
      color: #FFFFFF;
      text-align: center;
      font-size: 15px;
      font-weight: 400;
      text-transform: capitalize; }
  .main-container .todo-body .todo-input {
    width: 286px;
    height: 35px;
    background: #E6D2FF;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px; }
    .main-container .todo-body .todo-input input {
      margin-top: 8px;
      margin-left: 5px;
      width: 241px;
      height: 16px;
      border: none;
      border-left: 1px solid black;
      float: left;
      background-color: #E6D2FF;
      color: #353333; }
      .main-container .todo-body .todo-input input input:focus {
        border: none; }
      .main-container .todo-body .todo-input input input:active {
        border: none; }
    .main-container .todo-body .todo-input button {
      padding-top: 9px;
      padding-bottom: 9px;
      padding-right: 10px;
      padding-left: 10px;
      color: #E6D2FF;
      background-color: #AF7EEB;
      border: none;
      float: right;
      font-weight: 700;
      border-radius: 10px; }
  .main-container .todo-body .todo-list {
    width: 286px;
    height: 35px;
    display: block;
    margin-top: 10px;
    background: #FFFFFF;
    margin-right: auto;
    margin-left: auto; }
    .main-container .todo-body .todo-list .list-item {
      display: flex;
      float: left;
      margin-top: 8px; }
      .main-container .todo-body .todo-list .list-item P {
        margin: 0px;
        padding: 0px;
        font-size: 17px;
        font-weight: lighter;
        color: #AF7EEB; }
    .main-container .todo-body .todo-list .todo-delete {
      float: right; }
      .main-container .todo-body .todo-list .todo-delete button {
        background: none;
        border: none;
        padding: 7px; }